root {
  --scalar-font: "Inter", var(--system-fonts);
}
/* basic theme */
.light-mode {
  --scalar-color-1: rgb(9, 9, 11);
  --scalar-color-2: rgb(113, 113, 122);
  --scalar-color-3: rgba(25, 25, 28, 0.5);
  --scalar-color-accent: var(--theme-color-1);

  --scalar-background-1: #fff;
  --scalar-background-2: #f4f4f5;
  --scalar-background-3: #e3e3e6;
  --scalar-background-accent: #8ab4f81f;

  --scalar-border-color: rgb(228, 228, 231);
}
.dark-mode {
  --scalar-color-1: #fafafa;
  --scalar-color-2: rgb(161, 161, 170);
  --scalar-color-3: rgba(255, 255, 255, 0.533);
  --scalar-color-accent: var(--theme-color-1);

  --scalar-background-1: #09090b;
  --scalar-background-2: #18181b;
  --scalar-background-3: #2c2c30;
  --scalar-background-accent: #8ab4f81f;

  --scalar-border-color: rgba(255, 255, 255, 0.12);
}
/* Document header */
.light-mode .t-doc__header {
  --scalar-header-background-1: var(--scalar-background-1);
  --scalar-header-border-color: var(--scalar-border-color);
  --scalar-header-color-1: var(--scalar-color-1);
  --scalar-header-color-2: var(--scalar-color-2);
  --scalar-header-background-toggle: var(--scalar-color-3);
  --scalar-header-call-to-action-color: var(--scalar-color-accent);
}

.dark-mode .t-doc__header {
  --scalar-header-background-1: var(--scalar-background-1);
  --scalar-header-border-color: var(--scalar-border-color);
  --scalar-header-color-1: var(--scalar-color-1);
  --scalar-header-color-2: var(--scalar-color-2);
  --scalar-header-background-toggle: var(--scalar-color-3);
  --scalar-header-call-to-action-color: var(--scalar-color-accent);
}

/* Document Sidebar */
.light-mode .t-doc__sidebar,
.dark-mode .t-doc__sidebar {
  --scalar-sidebar-background-1: var(--scalar-background-1);
  --scalar-sidebar-color-1: var(--scalar-color-1);
  --scalar-sidebar-color-2: var(--scalar-color-2);
  --scalar-sidebar-border-color: var(--scalar-border-color);

  --scalar-sidebar-item-hover-background: var(--scalar-background-2);
  --scalar-sidebar-item-hover-color: currentColor;

  --scalar-sidebar-item-active-background: var(--scalar-background-2);
  --scalar-sidebar-color-active: var(--scalar-color-1);

  --scalar-sidebar-search-background: transparent;
  --scalar-sidebar-search-color: var(--scalar-color-3);
  --scalar-sidebar-search-border-color: var(--scalar-border-color);
}
/* advanced */
.light-mode {
  --scalar-button-1: rgb(49 53 56);
  --scalar-button-1-color: #fff;
  --scalar-button-1-hover: rgb(28 31 33);

  --scalar-color-green: #069061;
  --scalar-color-red: #ef0006;
  --scalar-color-yellow: #edbe20;
  --scalar-color-blue: #0082d0;
  --scalar-color-orange: #fb892c;
  --scalar-color-purple: #5203d1;

  --scalar-scrollbar-color: rgba(0, 0, 0, 0.18);
  --scalar-scrollbar-color-active: rgba(0, 0, 0, 0.36);
}
.dark-mode {
  --scalar-button-1: #f6f6f6;
  --scalar-button-1-color: #000;
  --scalar-button-1-hover: #e7e7e7;

  --scalar-color-green: #00b648;
  --scalar-color-red: #dc1b19;
  --scalar-color-yellow: #ffc90d;
  --scalar-color-blue: #4eb3ec;
  --scalar-color-orange: #ff8d4d;
  --scalar-color-purple: #b191f9;

  --scalar-scrollbar-color: rgba(255, 255, 255, 0.24);
  --scalar-scrollbar-color-active: rgba(255, 255, 255, 0.48);
}
/* Adv customization */
.introduction-cards .scalar-card:first-of-type {
  overflow: visible;
}
.examples .scalar-card-footer {
  --scalar-background-3: transparent;
  padding-top: 0;
}
.show-api-client-button:before {
  background: white !important;
}
.show-api-client-button span,
.show-api-client-button svg {
  color: black !important;
}
.download-cta,
.references-rendered .markdown a {
  text-decoration: underline !important;
}
.introduction-card > :first-child:before {
  content: "";
  width: 140px;
  height: 140px;
  position: absolute;
  right: -12px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbDpzcGFjZT0icHJlc2VydmUiIHN0eWxlPSJmaWxsLXJ1bGU6ZXZlbm9kZDtjbGlwLXJ1bGU6ZXZlbm9kZDtzdHJva2UtbGluZWpvaW46cm91bmQ7c3Ryb2tlLW1pdGVybGltaXQ6MS40MTQyMSIgdmlld0JveD0iMCAwIDEyMDAgODAwIj48cGF0aCBkPSJtMC03LTEyLTI1di0zYzAtMjgtMjktNTUtNzktNzV2MTdsLTE1LTZ2LThjLTcxLTI1LTE3Ny00Mi0yOTQtNDItMTAzIDAtMTk3IDEzLTI2NiAzM3YyOC0zNGMtNzEgMjMtMTE1IDU0LTExNSA4OWwzIDE2LTcgMTNzLTYgNyA0IDIzYTIxMzggMjEzOCAwIDAgMCA5NiAxMjBjMS0xLTctMjktMjctNjAtOS0xNy0yMS00MC0yNy01NiAxOSAxMiAxMzAgNjggMzU3IDY4Qy0xNTAgOTAtNDcgMTgtMzYgOGMtNCAxNi0xNyA0OC0yOCA3MS0xOCAzMi0yNCA2MC0yMyA2MWwxNS0yM0MtNTEgODctMTIgMzEtNCAxNyA1IDAgMC03IDAtNyIgc3R5bGU9ImZpbGw6I2E1MmIwMDtmaWxsLXJ1bGU6bm9uemVybyIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTAwOSA1MDYpIi8+PHBhdGggZD0ibTAgMjA0LTc5LTU4LTMtOCAyNi0zOGMzLTQgNC05IDItMTNzLTYtOC0xMC04bC00NC04LTUtMTAgMTgtNDJjMi01IDItMTAtMS0xNC0yLTQtNy02LTExLTZsLTQ1IDItNy05IDEwLTQ2YzEtNCAwLTktMy0xMi0zLTQtOC01LTEzLTRsLTQzIDExLTktOCAyLTQ2YzAtNS0yLTktNi0xMnMtOC0zLTEzLTFsLTQwIDE5LTEwLTUtNy00NmMtMS01LTQtOS04LTExcy05LTEtMTMgMmwtMzYgMjctMTEtMy0xNi00NGMtMS00LTUtOC05LTktNS0xLTkgMS0xMiA0bC0zMSAzNS0xMS0yLTIzLTM5Yy0zLTQtNy03LTEyLTctNCAwLTggMy0xMSA3bC0yMyAzOS0xMSAyLTMxLTM1YTEzIDEzIDAgMCAwLTIyIDVsLTE1IDQ0LTExIDMtMzYtMjdjLTQtMy05LTQtMTMtMnMtNyA2LTggMTFsLTcgNDYtMTAgNS00MS0xOWMtNC0yLTktMi0xMiAxLTQgMy02IDctNiAxMmwxIDQ2LTggOC00NC0xMWMtNC0xLTkgMC0xMiA0LTMgMy01IDgtMyAxMmwxMCA0Ni03IDktNDUtMmMtNSAwLTkgMi0xMSA2LTMgNC0zIDktMSAxNGwxOCA0Mi01IDEwLTQ0IDhjLTUgMC04IDQtMTAgOHMtMSA5IDEgMTNsMjYgMzh2MmwtNzQgNzhzLTExIDkgNSAzMGMxNSAxOCA4OSA5MSAxMjggMTI5IDE3IDE5IDI4IDMxIDMwIDMwcy04LTM2LTQxLTc4Yy0yNS0zNy01OC05NC01MC0xMDAgMCAwIDgtMTEgMjYtMTkgMSAwLTEtMSAwIDAgMCAwIDM3MCAxNzAgNzEyIDIgNDAtNyA2MyAxNCA2MyAxNCA4IDUtMTMgNjQtMzAgMTAzLTI0IDQ0LTI3IDc4LTI1IDc5IDEgMSAxMC0xMiAyMi0zMyAzMC00MiA4OC0xMjMgOTgtMTQyIDEyLTIzIDAtMjkgMC0yOSIgc3R5bGU9ImZpbGw6I2Y3NGMwMDtmaWxsLXJ1bGU6bm9uemVybyIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTA3OSAyOTUpIi8+PHBhdGggZD0iTTAgMjMyczUzLTIgMTIzLTczbDEwLTIyUzI1IDI5IDE5My00NWMwIDAtMTUgMjQtMTAgMTE3IDAgMCA1MC0xOCA2NS0xMDAgMCAwIDc0IDk4LTgwIDE4OSAwIDAtNzMgMTE3LTE3NSAxMDZsNy0zNVoiIHN0eWxlPSJmaWxsOiNmNzRjMDA7ZmlsbC1ydWxlOm5vbnplcm8iIHRyYW5zZm9ybT0idHJhbnNsYXRlKDkxOCAyNDUpIi8+PHBhdGggZD0iTTAtNzhzMzctNDEgNzQgMGMwIDAgMjkgNTQgMCA4MSAwIDAtNDggMzctNzQgMCAwIDAtMzItMzAgMC04MSIgc3R5bGU9ImZpbGwtcnVsZTpub256ZXJvIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSg2NzcgNDg4KSIvPjxwYXRoIGQ9Ik0wIDBjMCAxNi05IDI5LTIxIDI5LTExIDAtMjAtMTMtMjAtMjlzOS0yOSAyMC0yOUMtOS0yOSAwLTE2IDAgMCIgc3R5bGU9ImZpbGw6I2ZmZjtmaWxsLXJ1bGU6bm9uemVybyIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNzIwIDQyNSkiLz48cGF0aCBkPSJNMC04NHM2My0yOCA4MSAzNWMwIDAgMTggNzMtNTIgNzcgMCAwLTkwLTE3LTI5LTExMiIgc3R5bGU9ImZpbGwtcnVsZTpub256ZXJvIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSg1MTIgNDgzKSIvPjxwYXRoIGQ9Ik0wIDBjMCAxNi0xMCAyOS0yMSAyOS0xMiAwLTIyLTEzLTIyLTI5czEwLTI5IDIyLTI5Qy0xMC0yOSAwLTE2IDAgMCIgc3R5bGU9ImZpbGw6I2ZmZjtmaWxsLXJ1bGU6bm9uemVybyIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNTQ0IDQyNikiLz48cGF0aCBkPSJtMC00MCA4MS03cy0zIDEzLTEzIDIzYzAgMC0yOCAzMC02MC0zIDAgMC01LTUtOC0xMyIgc3R5bGU9ImZpbGwtcnVsZTpub256ZXJvIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSg1OTMgNTc3KSIvPjxwYXRoIGQ9Ik0wIDE5MWgtMmMtMjYtNi0xMDAtMjUtMTE5LTU3IDAgMCA5OS0xMTItNTYtMTg1bDE4IDEyNXMtNDgtMzItNTgtMTAxYzAgMC0xMTcgODQgNTEgMTY1IDAgMCAxNSA1OCAxNjEgMTAzYTI1IDI1IDAgMCAwIDMwLTI1YzAtMTQtMTEtMjUtMjUtMjUiIHN0eWxlPSJmaWxsOiNmNzRjMDA7ZmlsbC1ydWxlOm5vbnplcm8iIHRyYW5zZm9ybT0idHJhbnNsYXRlKDI3MCAyNzEpIi8+PC9zdmc+);
  background-size: 100%;
  background-repeat: no-repeat;
  top: -70px;
  background-position: center 70px;
}
