@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* background */
  --giro-bg: 16, 13, 40;
  --giro-bg-subtle: 19, 18, 50;
  --giro-bg-emphasis: 39, 38, 70;
  --giro-bg-info: 85, 40, 139;

  /* text */
  --giro-text: #FFFFFF;
  --giro-text-subtle: #7B82C0;
  --giro-text-emphasis: #C4C7E2;
  --giro-text-info: #9F6DDE;
  --giro-button-text-primary: #000000;
  --giro-button-text-secondary: #7B82C0;
  --giro-button-text-emphasis: #000000;

  /* buttons */
  --giro-button-primary: linear-gradient(to bottom, #FFC441, #FFE600);
  --giro-button-primary-hover: #FFE00C;
  --giro-button-secondary: #272646;
  --giro-button-secondary-hover: #333256;
  --giro-button-emphasis: linear-gradient(to bottom, #20CD19, #9BFC33);
  --giro-button-emphasis-hover: #81F22E;

  /* borders */
  --giro-border-btn-primary: linear-gradient(to bottom, #FFD918, #FFEFAC);
  --giro-border-btn-emphasis: linear-gradient(to bottom, #59F53C, #C8FF7D);
  --giro-border-focus: #3D448B;

  /* shadows */
  --giro-shadow-btn-emphasis: #28D01B;
  --giro-shadow-btn-primary: #BFA61F;

  /* spacing */
  --giro-border-radius: 8px;
  --giro-padding-button: 6px 16px 6px 16px;
  --giro-padding-button-big: 10px 64px 10px 64px;

  /* font */
  --giro-font-size: 1rem;
}

@layer base {
  * {
    color: inherit;
  }

  body {
    background-color: rgb(var(--giro-bg));
    height: 100vh;
    color: var(--giro-text);
    font-size: var(--giro-font-size);
  }

  input::placeholder {
    color: var(--giro-text-emphasis);
  }
}

.giro__hide-scroll {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }
}

.giro__select-fade-enter-active,
.giro__select-fade-leave-active {
  transition: opacity 0.25s;
}

.giro__select-fade-enter-from,
.giro__select-fade-leave-to {
  opacity: 0;
}

.giro__select-fade-enter-to,
.giro__select-fade-leave-from {
  opacity: 1;
}

.giro__overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  animation: giro__fade-in 0.15s ease-in-out forwards;
  animation-delay: 0s;
}

@keyframes giro__fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
