@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.0.0/css/flag-icons.min.css');

.applyCustomScroll::-webkit-scrollbar {
  width: 8px;
}

.applyCustomScroll::-webkit-scrollbar-track {
  background: #262931;
  border-radius: 2px;
  border: 3px solid #2F323C;
}

.applyCustomScroll::-webkit-scrollbar-thumb {
  background: #363944;
  border-radius: 4px;
  border: 2px solid #262931;
}

.applyScrollbarHide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.applyScrollbarHide::-webkit-scrollbar {
  display: none;
}

.stop-scrolling {
  height: 100vh;
  overflow: hidden;
}