@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* 1240px desired content container + L/R 1rem padding which never goes away = 1272px */
  /* NOTE: this can be changed safely as it has been properly abstracted, assuming your design looks good at the larger size */
  --giro-container-max-width: 1272px;
  --giro-container-padding: 1rem;
  --giro-modal-default-max-width: 30rem;
  --giro-section-gap: 2rem;

  /* background */

  --giro-bg: 16, 13, 40;
  --giro-bg-subtle: 19, 18, 50;
  --giro-bg-emphasis: 39, 38, 70;
  --giro-bg-warning: 98, 88, 25;
  --giro-bg-success: 44, 98, 25;
  --giro-bg-text-emphasis: 196, 199, 226;
  --giro-bg-text-subtle: 123, 130, 192;
  --giro-bg-muted: 73, 72, 122;
  --giro-bg-active: 51, 50, 92;

  /* text */

  --giro-text: #ffffff;
  --giro-text-primary: #ffc441;
  --giro-text-primary-hover: #ffe00c;
  --giro-text-subtle: #7b82c0;
  --giro-text-subtle-light: #a2a7db;
  --giro-text-emphasis: #c4c7e2;
  --giro-text-success: #77ff0c;

  /* alerts */

  --giro-alert-success: #2c6219;
  --giro-alert-text-success: #77ff0c;

  --giro-alert-error: #621919;
  --giro-alert-text-error: #ff6969;

  --giro-alert-warning: #625819;
  --giro-alert-text-warning: #ffe00c;

  --giro-alert-info: #3d448b;
  --giro-alert-text-info: #c1c7ff;

  /* buttons */

  --giro-button-primary: linear-gradient(to bottom, #ffc441, #ffe600);
  --giro-button-primary-hover: #ffe00c;
  --giro-button-text-primary: #000000;

  --giro-button-secondary: #272646;
  --giro-button-secondary-hover: #333256;
  --giro-button-text-secondary: #7b82c0;

  --giro-button-emphasis: linear-gradient(to bottom, #20cd19, #9bfc33);
  --giro-button-emphasis-hover: #81f22e;
  --giro-button-text-emphasis: #000000;

  --giro-button-subtle: #131232;
  --giro-button-subtle-hover: #1f1d47;
  --giro-button-text-subtle: #7b82c0;

  --giro-button-danger: #dc2625;
  --giro-button-danger-hover: #c71010;
  --giro-button-text-danger: #ffffff;

  /* promo bars */

  --giro-promo-purple: #551a8b;
  --giro-promo-text-purple: #9f6dde;

  /* input */

  --giro-field-height: 3.13rem;
  --giro-input-group-hidden-field-height: 2.0rem;
}

@layer base {
  * {
    color: inherit;
  }

  html {
    font-family: 'Montserrat', sans-serif;
  }

  body {
    background-color: rgb(var(--giro-bg));
    height: 100vh;
    color: var(--giro-text);
    @apply text-base;
  }

  input::placeholder {
    color: var(--giro-text-emphasis);
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
  }
}

.giro__container {
  margin: 0 auto;
  max-width: var(--giro-container-max-width);
  padding-left: var(--giro-container-padding);
  padding-right: var(--giro-container-padding);
}

.giro__container-full-width {
  margin: 0 auto;
  max-width: var(--giro-container-max-width);
}

.giro__sections {
  @apply flex flex-col;
  gap: var(--giro-section-gap);
}

.giro__select-fade-enter-active,
.giro__select-fade-leave-active {
  transition: opacity 0.25s;
}

.giro__select-fade-enter-from,
.giro__select-fade-leave-to {
  opacity: 0;
}

.giro__select-fade-enter-to,
.giro__select-fade-leave-from {
  opacity: 1;
}

@keyframes giro__fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
