@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* 1240px desired content container + L/R 1rem padding which never goes away = 1272px */
  /* NOTE: this can be changed safely as it has been properly abstracted, assuming your design looks good at the larger size */
  --giro-container-max-width: 1272px;
  --giro-container-padding: 1rem;
  --giro-modal-default-max-width: 30rem;

  --giro-section-gap-sm: 0.75rem;
  --giro-section-gap-lg: 1.5rem;


  /* input */

  --giro-field-height: 3.13rem;
  --giro-input-group-hidden-field-height: 2.0rem;
}

@layer base {
  * {
    color: inherit;
  }

  html {
    font-optical-sizing: auto;
    font-family:
      Montserrat,
      -apple-system,
      ui-sans-serif,
      system-ui,
      sans-serif,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol",
      "Noto Color Emoji";
  }

  body {
    background-color: rgb(var(--color-bg));
    height: 100vh;
    color: var(--color-text);
    @apply text-base;
  }

  input::placeholder {
    color: var(--color-text-emphasis);
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
  }
}

.giro__container {
  margin: 0 auto;
  width: 100%;
  max-width: var(--giro-container-max-width);
  padding-left: var(--giro-container-padding);
  padding-right: var(--giro-container-padding);
}

.giro__container-full-width {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: var(--giro-container-max-width);
}

.giro__sections {
  @apply flex flex-col gap-[var(--giro-section-gap-lg)] md:gap-[var(--giro-section-gap-lg)];
}

.giro__select-fade-enter-active,
.giro__select-fade-leave-active {
  transition: opacity 0.25s;
}

.giro__select-fade-enter-from,
.giro__select-fade-leave-to {
  opacity: 0;
}

.giro__select-fade-enter-to,
.giro__select-fade-leave-from {
  opacity: 1;
}

@keyframes giro__fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
