@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* 1240px desired content container + L/R 1rem padding which never goes away = 1272px */
  /* NOTE: this can be changed safely as it has been properly abstracted, assuming your design looks good at the larger size */
  --giro-container-max-width: 1272px;
  --giro-container-padding: 1rem;
  --giro-modal-default-max-width: 30rem;

  --giro-section-gap-sm: 0.75rem;
  --giro-section-gap-lg: 1.5rem;


  /* input */

  --giro-field-height: 3.13rem;
  --giro-input-group-hidden-field-height: 2.0rem;
}

@layer base {
  * {
    color: inherit;
  }

  body {
    background-color: rgb(var(--color-bg));
    color: var(--color-text);
    @apply text-base;
  }

  input::placeholder {
    color: var(--color-text-emphasis);
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
  }

   .mask-edge-fade {
    --fade: 1rem;
    mask-image:
      linear-gradient(to right, transparent, #000 var(--fade), #000 calc(100% - var(--fade)), transparent);
    }

    .mask-edge-fade-right {
      --fade: 6rem;
      --fade-padding: 0.5rem;
      mask-image:
        linear-gradient(to left, transparent, transparent var(--fade-padding), #000 var(--fade), #000);
    }
}

.max-w-screen-xl mx-auto w-full px-4 {
  margin: 0 auto;
  width: 100%;
  max-width: var(--giro-container-max-width);
  padding-left: var(--giro-container-padding);
  padding-right: var(--giro-container-padding);
}

.max-w-screen-xl mx-auto w-full px-4-full-width {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: var(--giro-container-max-width);
}


.giro__select-fade-enter-active,
.giro__select-fade-leave-active {
  transition: opacity 0.25s;
}

.giro__select-fade-enter-from,
.giro__select-fade-leave-to {
  opacity: 0;
}

.giro__select-fade-enter-to,
.giro__select-fade-leave-from {
  opacity: 1;
}

@keyframes giro__fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
