name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: taiki-e/install-action@cargo-hack
      - name: Check formatting
        run: cargo fmt --check
      - name: Check each feature
        run: cargo hack check --each-feature
      - name: Build
        run: cargo build --verbose
      - name: Run tests
        run: cargo test --verbose
