name: Typos

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  typos:
    name: Check for typos
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: crate-ci/typos@v1.39.0
